$primary: #A8FF35 !default;
$green: #87D322 !default;
$oliv: #8CC83A !default;
$black: #000000 !default;
$black-500: #2B2B2B !default;
$gray: #8B8B8B !default;
$gray-500: #ADADAD !default;
$gray-200: #F5F5F5 !default;
$gray-100: #F1F1F1 !default;
$white: #FAFAFA !default;

$title-bg: 72px;
$title-md: 48px;
$title-sm: 32px;

$text-sm: 14px;
$text-bg: 18px;

$section-title-bg: 64px;
$section-title-sm: 32px;

$container-padding-sm: 18px;
$container-padding-lg: 140px;   
